html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.header {
  background-color: #ffffff;
  color: #1a1919;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  padding: 15px;
  padding-top: 18px;
  padding-bottom: 12px;
  /* border-bottom: #1a1919;
  border-bottom-width: 1px;
  border-top: #1a1919;
  border-top-width: 1px;
  border-bottom-style: solid;
  border-top-style: solid; */
}

.footer {
  background-color: #ffffff;
  color: #e9c46a;
  font-size: 10px;
  text-align: center;
  padding: 20px;
}
.context{
  background-color:#f4a261;
}

.ant-steps-custom {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.85);
  font-size: 12px;
  font-variant: tabular-nums;
  line-height: 9.66667 !important; 
  list-style: none;
  font-feature-settings: 'tnum';
  display: flex;
  width: 100%;
  font-size: 0;
  text-align: initial;
}
.ant-steps-item {
  position: relative;
  display: inline-block;
  flex: 1;
  overflow: hidden;
  vertical-align: top;
}